<% if @companies.any? %>
<%= render 'layouts/backtoadmin' %>
<div class="row mb-2">
    <% @companies.each do |e| %>
       <div class="col-xs-3">
            <% btc = @target_c.id == e.id ? "btn-warning" : "btn-danger" %>
        
            <div class="col-2 mb-1">
                <%= link_to  e.name_e.truncate(22),
                    trucks_path(company: e.id),
                    class: "btn #{btc} btn-block" %>
             </div> 
        </div>
    <% end %>
</div>
<% end %>
<hr>
<table class="table table-responsive logiccs_table">
<% @trucks.each do |truck| %>
   <tr>
       <td><%= truck.company.name_e if truck.company %></td>
       <td><%= truck.branch.name if truck.branch %></td>
       <td><%= truck.number %></td>
       <td><%= truck.vehicleid %></td>
       <td><%= truck.maker %></td>
       <td><%= truck.model %></td>
       <td><%= link_to "Edit", edit_truck_path(truck), class:"btn btn-xs btn-primary" %></td>
       <td><%= link_to "Delete", truck,  class:"btn btn-xs btn-danger", method: :delete, data: { confirm: "You sure?" } %></td>
       <td><%= link_to "Adjust", adjust_truck_path(truck), class:"btn btn-xs btn-success" %></td>
       <td><%= link_to "Adj. Mileage", adjustmileage_truck_path(truck), class:"btn btn-xs btn-warning" %></td>
   </tr>

<% end %>
</table>