<!DOCTYPE html>
<html>
  <head>
    <title>Logiccs</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container"; font-family: Georgia;>
      <%= yield %>
    </div>
  </body>
</html>
